<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzyz.mapper.systemset.EssayAndGoodsMapper">
	
	<resultMap type="com.gzyz.bean.systemset.extend.SystemSetEssayVo" id="SystemSetEssayAndGoodsResultMap">
		 
		<id column="essay_id" property="essay.essay_id"/>
		<result column="essay_tittle" property="essay.essay_tittle"/>
		<result column="essay_value" property="essay.essay_value"/>	
		<!-- <result column="goods_id" property="essay.goods_id"/> -->	 
			 
		 <collection property="goods" ofType="com.gzyz.bean.goods.Goods">
		 	<id column="goods_id" property="goods_id"/>
			<result column="goods_name" property="goods_name"/>		
		 </collection>	
	</resultMap>
	
	<select id="findEssayAndGoodsList" parameterType="com.gzyz.bean.systemset.extend.SystemSetEssayVo" resultMap="SystemSetEssayAndGoodsResultMap">
  		SELECT * FROM goods,essay  
  		<where>
  			<include refid="query_essayandgoods_where"></include>
  		</where>
  	</select>
  	
  	<select id="findEssayAndGoods" parameterType="com.gzyz.bean.systemset.extend.SystemSetEssayVo" resultMap="SystemSetEssayAndGoodsResultMap">
  		SELECT * FROM goods,essay  
  		<where>
  			<include refid="query_essayandgoods_where"></include>
  		</where>
  	</select>
  	
  	<select id="deleteEssay" parameterType="com.gzyz.bean.systemset.Essay">
  		DELETE FROM essay   
  		<where>
  			<include refid="delete_essay_where"></include>
  		</where>
  	</select>
  	
  	<select id="updataEssay" parameterType="com.gzyz.bean.systemset.Essay">
  		update essay set essay_tittle = #{essay_tittle},essay_value = #{essay_value} where essay_id = #{essay_id}; 
  	</select>
  	
  	<select id="addEssay" parameterType="com.gzyz.bean.systemset.Essay">
  		insert into essay values (essay_id,#{essay_tittle},#{essay_value},#{goods_id});
  	</select>
  	
  	<sql id="query_essayandgoods_where">
  		<if test="essay!=null">
			<if test="essay.essay_id!=null and essay.essay_id!=''">
				and  essay.essay_id = #{essay.essay_id}
			</if>
	  		<if test="essay.essay_tittle!=null and essay.essay_tittle!=''">
	   			and essay.essay_tittle = #{essay.essay_tittle}
	   		</if>
	   		<if test="essay.essay_value!=null and essay.essay_value!=''">
	   			and essay.essay_value = #{essay.essay_value}
	   		</if>	 			
  		</if>
  		<if test="goods!=null">
			<if test="goods.goods_id!=null and goods.goods_id!=''">
				and  goods.goods_id = #{goods.goods_id}
			</if>
	  		<if test="goods.goods_name!=null and goods.goods_name!=''">
	   			and goods.goods_name = #{goods.goods_name}
	   		</if>	 			
  		</if>
  		and essay.goods_id = goods.goods_id
   </sql>
   
   <sql id="delete_essay_where">
			<if test="essay_id!=null and essay_id!=''">
				and  essay_id = #{essay_id}
			</if>
	  		<if test="essay_tittle!=null and essay_tittle!=''">
	   			and essay_tittle = #{essay_tittle}
	   		</if>
	   		<if test="essay_value!=null and essay_value!=''">
	   			and essay_value = #{essay_value}
	   		</if>	 			
   </sql>
	
</mapper>