<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这个文件中编写sql语句 -->
<!-- xml 可以作为配置文件。 -->
<mapper namespace="com.gzyz.mapper.users.UserListMapper">
	
	<!--resultMap  -->
	<resultMap  type="Usercart" id="UserCarMapper">
		<id column="user_id" property="user_id"/>
		<result column="user_name" property="user_name"/>
		<collection property="cartextend" ofType="cartextend">
				<id column="rec_id" property="rec_id"/>
				<result column="goods_id" property="goods_id"/>
				<result column="goods_name" property="goods_name"/>
				<result column="goods_price" property="goods_price"/>
				<result column="goods_number" property="goods_number"/>
				<result column="goods_sn" property="goods_sn"/>
				<association property="goods" javaType="goods">
					<result column="original_img" property="original_img"/>
					<result column="goods_brief" property="goods_brief"/>
				</association>
		</collection>
	</resultMap>
	<resultMap  type="UserCollect" id="UserCollectMapper">
		<id column="user_id" property="user_id"/>
		<result column="user_name" property="user_name"/>
		<collection property="goodsCollect" ofType="com.gzyz.bean.goods.extend.GoodsCollect">
				<id column="goods_id" property="goods_id"/>
				<result column="goods_name" property="goods_name"/>
				<result column="goods_sn" property="goods_sn"/>
				<result column="goods_brief" property="goods_brief"/>
				<result column="original_img" property="original_img"/>
				<result column="original_price" property="original_price"/>
				<association property="collect_goods" javaType="collect_goods">
					<id column="rec_id" property="rec_id"/>
					<result column="add_time" property="add_time"/>
				</association>		
		</collection>
	</resultMap>
	<resultMap  type="UserReceiver" id="UserReceiverMapper">
		<id column="user_id" property="user_id"/>
		<result column="user_name" property="user_name"/>
		<collection property="receiver" ofType="receiver">
				<id column="receiver_id" property="receiver_id"/>
				<result column="receiver_name" property="receiver_name"/>
				<result column="receiver_state" property="receiver_state"/>
				<result column="receiver_city" property="receiver_city"/>
				<result column="receiver_district" property="receiver_district"/>
				<result column="receiver_address" property="receiver_address"/>
				<result column="receiver_postcode" property="receiver_postcode"/>
				<result column="receiver_phone" property="receiver_phone"/>	
		</collection>
	</resultMap>
	
	<!--查询分页用户  -->
	<select id="selectAllUser" resultType="com.gzyz.bean.users.extend.Userdate" parameterType="int" >
		select * from user limit #{page},16
	</select>
	
	<select id="selectusernumber" resultType="int">
		select count(*) from user
	</select>
	
	<select id="selectuserToMh" resultType="com.gzyz.bean.users.extend.Userdate" parameterType="String">
		select * from user where user_name like '%${value}%'
	</select>
	<select id="selectuserByid" resultType="com.gzyz.bean.users.extend.Userdate" parameterType="int">
		select * from user where user_id=#{id}
	</select>
	
	
	<!--购物车  -->
	<select id="selectCart" resultType="com.gzyz.bean.users.cart" parameterType="int" >
		select * from cart limit #{page},16
	</select>
	<select id="selectuser" resultMap="UserCarMapper" parameterType="int">
		select u.user_id user_id,u.user_name user_name,c.rec_id rec_id, c.goods_id goods_id,g.goods_brief goods_brief,g.original_img original_img,c.goods_name goods_name,c.goods_sn goods_sn,c.goods_price goods_price,c.goods_number goods_number
 		from user u 
		JOIN cart c 
		on u.user_id=c.user_id
		LEFT JOIN goods g
		on c.goods_id=g.goods_id
 		ORDER BY u.user_id ASC 
 		limit #{page},16
	</select>
	<select id="countusercart" resultType="int">
		select count(*) from user u JOIN cart c on u.user_id=c.user_id
	</select>
	
	<select id="selectcartToMh" resultMap="UserCarMapper" parameterType="String">
		select u.user_id user_id,u.user_name user_name,c.rec_id rec_id, c.goods_id goods_id,g.goods_brief goods_brief,g.original_img original_img,c.goods_name goods_name,c.goods_sn goods_sn,c.goods_price goods_price,c.goods_number goods_number
 		from user u 
		JOIN cart c 
		on u.user_id=c.user_id
		LEFT JOIN goods g
		on c.goods_id=g.goods_id
 		where u.user_name like '%${value}%'
 		ORDER BY u.user_id ASC
	</select>
	<select id="selectcartByid" resultMap="UserCarMapper" parameterType="int">
		select u.user_id user_id,u.user_name user_name,c.rec_id rec_id, c.goods_id goods_id,g.goods_brief goods_brief,g.original_img original_img,c.goods_name goods_name,c.goods_sn goods_sn,c.goods_price goods_price,c.goods_number goods_number
 		from user u 
		JOIN cart c 
		on u.user_id=c.user_id
		LEFT JOIN goods g
		on c.goods_id=g.goods_id
 		where u.user_id like '%${value}%'
 		ORDER BY u.user_id ASC
	</select>
	
	<select id="selectcartSn" resultMap="UserCarMapper" parameterType="String">
		select u.user_id user_id,u.user_name user_name,c.rec_id rec_id, c.goods_id goods_id,g.goods_brief goods_brief,g.original_img original_img,c.goods_name goods_name,c.goods_sn goods_sn,c.goods_price goods_price,c.goods_number goods_number
 		from user u 
		JOIN cart c 
		on u.user_id=c.user_id
		LEFT JOIN goods g
		on c.goods_id=g.goods_id
 		where c.goods_sn like '%${value}%' or c.goods_name like '%${value}%'
 		ORDER BY u.user_id ASC
	</select>
	
	
	<!--收藏夹  -->
	<select id="selectcollect" resultMap="UserCollectMapper" parameterType="int">
		select u.user_id user_id,u.user_name user_name,g.goods_id goods_id,g.original_img original_img,g.goods_name goods_name,g.goods_sn goods_sn,g.original_price original_price,g.goods_brief goods_brief,c.rec_id rec_id,c.add_time add_time
		from collect_goods c 
		JOIN user u on c.user_id=u.user_id 
		LEFT JOIN goods g on c.goods_id=g.goods_id
		ORDER BY c.user_id
		limit #{page},16
	</select>
	
	<select id="countcollect" resultType="int">
		select count(*) from collect_goods c JOIN user u on c.user_id=u.user_id LEFT JOIN goods g on c.goods_id=g.goods_id 
	</select>
	
	<select id="selectcollectToMh" resultMap="UserCollectMapper" parameterType="String">
		select u.user_id user_id,u.user_name user_name,g.goods_id goods_id,g.original_img original_img,g.goods_name goods_name,g.goods_sn goods_sn,g.original_price original_price,g.goods_brief goods_brief,c.rec_id rec_id,c.add_time add_time
		from collect_goods c 
		JOIN user u on c.user_id=u.user_id 
		LEFT JOIN goods g on c.goods_id=g.goods_id
		where u.user_id like '%${value}%' or u.user_name like '%${value}%' or  g.goods_name like '%${value}%'
 		ORDER BY c.user_id
	</select>
	
	<select id="selectreceiver" resultMap="UserReceiverMapper" parameterType="int">
		select u.user_id user_id,u.user_name user_name,r.receiver_id receiver_id,r.receiver_name receiver_name,r.receiver_state receiver_state,r.receiver_city receiver_city,r.receiver_district receiver_district,r.receiver_address receiver_address,r.receiver_postcode receiver_postcode,r.receiver_phone  receiver_phone
		from receiver r 
		join user u
		on u.user_id=r.user_id	
		order by u.user_id
		limit #{page},16
	</select>
	
	<select id="countreceiver" resultType="int">
		select count(*) from receiver r join user u on u.user_id=r.user_id	 
	</select>
	<select id="selectreceiverToMh" resultMap="UserReceiverMapper" parameterType="String">
		select u.user_id user_id,u.user_name user_name,r.receiver_id receiver_id,r.receiver_name receiver_name,r.receiver_state receiver_state,r.receiver_city receiver_city,r.receiver_district receiver_district,r.receiver_address receiver_address,r.receiver_postcode receiver_postcode,r.receiver_phone  receiver_phone
		from receiver r 
		join user u
		on u.user_id=r.user_id
		where r.receiver_state like '%${value}%' or r.receiver_city like '%${value}%' or  r.receiver_district like '%${value}%' or r.receiver_address like '%${value}%'
 		ORDER BY u.user_id
	</select>
	
	<select id="selectreceiverByid" resultMap="UserReceiverMapper" parameterType="String">
		select u.user_id user_id,u.user_name user_name,r.receiver_id receiver_id,r.receiver_name receiver_name,r.receiver_state receiver_state,r.receiver_city receiver_city,r.receiver_district receiver_district,r.receiver_address receiver_address,r.receiver_postcode receiver_postcode,r.receiver_phone  receiver_phone
		from receiver r 
		join user u
		on u.user_id=r.user_id
		where u.user_id like '%${value}%' or u.user_name like '%${value}%' 
 		ORDER BY u.user_id
	</select>
	<select id="userLogin" parameterType="com.gzyz.bean.users.User" resultType="com.gzyz.bean.users.User">
		select * 
		from 
		user
		<where>
			<include refid="query_user_where"></include>
		</where>		
	</select>
	<sql id="query_user_where">
		<if test="user_name!=null and user_name!=''">
			and user_name = #{user_name}
		</if>
		<if test="user_password!=null and user_password!=''">
			and user_password = #{user_password}
		</if>
	</sql>
	
	<!-- 查询用户个人收藏夹 -->
	<select id="selectUserCollect" resultMap="UserCollectMapper" parameterType="int">
		select u.user_id user_id,u.user_name user_name,g.goods_id goods_id,g.original_img original_img,g.goods_name goods_name,g.goods_sn goods_sn,g.original_price original_price,g.goods_brief goods_brief,c.rec_id rec_id,c.add_time add_time
		from collect_goods c 
		JOIN user u on c.user_id=u.user_id 
		LEFT JOIN goods g on c.goods_id=g.goods_id
		where u.user_id=#{id}
	</select>
	<delete id="deleteUserCollect" parameterType="collect_goods">
		delete from collect_goods where user_id=#{user_id} and goods_id=#{goods_id}
	</delete>
	
	<select id="queryusercart" resultType="cart" parameterType="int">
		select * from cart where user_id=#{id}
	</select>
	
	<update id="updateUsercart" parameterType="cart">
		update  cart set goods_number=#{goods_number} where user_id=#{user_id} and goods_id=#{goods_id}
	</update>
	<insert id="insertUserCart" parameterType="cart">
		INSERT INTO `cart` ( `user_id`, `goods_id`, `goods_sn`, `goods_name`, `goods_price`, `goods_number`) VALUES (#{user_id}, #{goods_id},#{goods_sn} ,#{goods_name} ,#{goods_price} , #{goods_number});
	</insert>
	<!-- 用户登陆时统计人数！ -->
	<insert id="insertuserlogincount" parameterType="com.gzyz.bean.analysis.Date_traffic"> 
		INSERT INTO `date_traffic` ( `user_id`, `user_accesstime`) VALUES (#{user_id}, #{user_accesstime});
	</insert>
	<select id="selectUserRecommend" resultType="com.gzyz.bean.goods.Goods" parameterType="int">
		select * from goods where goods_id in(select goods_id from user_goods_recommend where user_id=#{id})
	</select>
	<select id="selectweekranking" resultType="int">
		SELECT goods_id 
		from `order`
		where goods_id in(
			select goods_id 
			from `order` 
			where DATE_SUB(order_time, INTERVAL 7 DAY)
		)  
		GROUP BY goods_id
		ORDER BY COUNT(goods_id) DESC
		LIMIT 0,6
	</select>
	<select id="selectweekrankinggoods" resultType="com.gzyz.bean.goods.Goods" parameterType="int">
		select * from goods where goods_id=#{id}
	</select>
	<select id="selectnewgoods" resultType="com.gzyz.bean.goods.Goods">
		select * from goods  ORDER BY goods_id  DESC limit 0,6 
	</select>
</mapper>	
